@use "../../../styles/foundation/" as foundation;

.button {
  font-weight: bold;
  padding: 12px 30px;
  border-radius: 3px;
  text-align: center;

  &.primary {
    background-color: foundation.$color-primary;
    color: #fff;
  }
}
