@use "./modules/common" as common;
@use "./modules/layout" as layout;
@use "./modules/reset";

/* =============================================
header
============================================= */
.header {
  background-color: common.$color-bg-header;

  @include layout.respond-to(pc) {
    padding: 36px 0;
  }

  @include layout.respond-to(sp) {
    padding: 28px 0;
  }

  > .inner {
    display: flex;
    justify-content: space-between;

    @include layout.respond-to(pc) {
      align-items: baseline;
      height: 58px;
    }
  }

  .header-logo {
    @include layout.respond-to(pc) {
      width: 150px;
      height: auto;
    }
  }

  @include layout.respond-to(pc) {
    .menu-btn-check,
    .menu-btn {
      display: none;
    }
  }

  // ハンバーガーメニュー
  @include layout.respond-to(sp) {
    .menu-btn {
      position: fixed;
      top: 10px;
      right: 10px;
      display: flex;
      height: 60px;
      width: 60px;
      justify-content: center;
      align-items: center;
      z-index: 90;
      background-color: common.$color-bg-header;

      span,
      span::before,
      span::after {
        position: absolute;
        content: "";
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: common.$color-white;
      }
      span {
        &::before {
          bottom: 8px;
        }
        &::after {
          top: 8px;
        }
      }
    }

    .menu-btn-check {
      display: none;
      &:checked {
        & ~ .menu-btn {
          background-color: rgba(255, 255, 255, 0);
          span {
            // 真ん中の線だけを透明にする
            background-color: rgba(255, 255, 255, 0);

            &::before {
              bottom: 0;
              transform: rotate(45deg);
            }

            &::after {
              top: 0;
              transform: rotate(-45deg);
            }
          }
        }
        & ~ .nav {
          left: 0;
        }
      }
    }
  }

  .nav {
    @include layout.respond-to(sp) {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 100%;
      z-index: 80;
      background-color: rgba(0, 0, 0, 0.75);
      transition: all 0.5s;
    }
    &__lists {
      color: common.$color-white;

      @include layout.respond-to(pc) {
        display: flex;
      }

      @include layout.respond-to(sp) {
        padding: 72px 24px 0;

        &--item {
          position: relative;
          border-bottom: solid 1px common.$color-white;

          &::before {
            position: absolute;
            content: "";
            right: 12px;
            top: 50%;
            transform: translateY(-50%) rotate(135deg);
            width: 10px;
            height: 10px;
            border-top: solid 2px common.$color-white;
            border-right: solid 2px common.$color-white;
          }
        }

        &--link {
          padding: 16px 0;
          display: block;
        }
      }

      &--item {
        + .nav__lists--item {
          @include layout.respond-to(pc) {
            margin-left: 48px;
          }
        }

        a {
          text-decoration: none;
        }

        &:hover {
          color: common.$color-link-hover;
        }
      }
    }
  }
}

/* =============================================
main visual
============================================= */
.main-visual {
  &__inner--image {
    width: 100%;
  }

  @include layout.respond-to(sp) {
    .inner {
      padding: 0;
    }
  }
}

/* =============================================
role
============================================= */
.role-items-wrap {
  @include layout.respond-to(sp) {
    position: relative;
    width: 239px;
    margin: 0 auto;
    overflow: hidden;
  }
}

.role-items {
  display: flex;
  @include layout.respond-to(pc) {
    margin-top: 48px;
    gap: 0 24px;
  }

  @include layout.respond-to(sp) {
    margin-top: 36px;
    transition: all 0.3s;
    width: 100%;
    margin: 0 auto;
    transition: all 0.3s;
  }

  &__box {
    @include layout.respond-to(pc) {
      width: calc((100% - 24px * 2) / 3);
    }

    @include layout.respond-to(sp) {
      min-width: 239px;
    }
    &--label {
      text-align: center;
      font-weight: bold;

      @include layout.respond-to(pc) {
        font-size: 2rem;
      }
      @include layout.respond-to(sp) {
        font-size: 1.6rem;
      }
    }

    &--image {
      @include layout.respond-to(pc) {
        width: 173px;
        height: 173px;
      }
      @include layout.respond-to(sp) {
        width: 173px;
        height: 173px;
      }
    }
    &--image-wrap {
      width: fit-content;
      margin: 16px auto 0;
      border-radius: 50%;

      @include layout.respond-to(pc) {
        padding: 32px;
      }
      @include layout.respond-to(sp) {
        padding: 24px;
      }

      &.role-corder {
        background-color: common.$color-bg-corder;
      }
      &.role-designer {
        background-color: common.$color-bg-designer;
      }
      &.role-director {
        background-color: common.$color-bg-director;
      }
    }
    &--text {
      margin-top: 16px;
    }
  }
}

// スライド 部品
@mixin slideBtn {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px common.$color-sub;
  border-right: solid 3px common.$color-sub;
}
@include layout.respond-to(pc) {
  .prev,
  .next,
  .slide__indicator {
    display: none;
  }
}
@include layout.respond-to(sp) {
  .next {
    @include slideBtn;
    right: 10px;
    transform: rotate(45deg) translateY(-50%);
  }

  .prev {
    @include slideBtn;
    left: 10px;
    transform: rotate(-135deg) translateY(-50%);
    margin-top: -8px;
  }

  .slide-area {
    position: relative;
  }

  .slide {
    &__indicator {
      width: 100%;
      display: flex;
      column-gap: 18px;
      justify-content: center;
      align-items: center;
      margin-top: 24px;

      &--list {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        list-style: none;
        background-color: common.$color-border;
        cursor: pointer;

        &.currentSlide {
          background-color: common.$color-sub;
        }
      }
    }
  }
}

/* =============================================
available skill
============================================= */
@mixin skill-status {
  padding: 6px 24px 4px;
  border-radius: 6px;
  font-weight: bold;

  &.skillful {
    background-color: common.$color-font-accent;
    color: common.$color-white;
  }
  &.usual {
    border: 1px solid common.$color-font-accent;
    color: common.$color-font-accent;
    background-color: common.$color-white;
  }
  &.duration,
  &.studying {
    border: 1px solid common.$color-font;
    color: common.$color-font;
    background-color: common.$color-white;
  }
}

.skill-filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include layout.respond-to(pc) {
    margin-top: 48px;
  }

  @include layout.respond-to(sp) {
    margin-top: 36px;
  }

  &__status {
    @include layout.respond-to(sp) {
      display: flex;
      flex-wrap: wrap;
      gap: 12px 24px;
      width: calc(100% - 40px);
    }

    &--item {
      @include skill-status;
      font-size: 2rem;

      + .skill-filter__status--item {
        @include layout.respond-to(pc) {
          margin-left: 20px;
        }
      }
    }
    &--ico {
      &.fa-filter {
        cursor: pointer;
        font-size: 4rem;
        color: common.$color-font;
        &:hover {
          color: common.$color-primary;
        }
      }
    }
  }
}

.skills-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;

  @include layout.respond-to(pc) {
    gap: 24px;
  }
  @include layout.respond-to(sp) {
    gap: 16px;
  }
}

.skill {
  &__list {
    @include layout.respond-to(pc) {
      width: calc((100% - 24px * 3) / 4);
    }
    @include layout.respond-to(sp) {
      width: calc((100% - 16px) / 2);
    }
    &--name {
      font-weight: bold;
    }

    &--image {
      @include layout.respond-to(pc) {
        width: 176px;
        height: 176px;
        margin: 0 auto;
      }
      @include layout.respond-to(sp) {
        width: 100%;
      }
    }

    &--name {
      text-align: center;

      @include layout.respond-to(pc) {
        margin: 24px 0 16px;
      }
      @include layout.respond-to(sp) {
        margin: 16px 0;
      }
    }
    &--status {
      @include skill-status;
      margin-top: 16px;
    }
    &--duration {
      font-weight: bold;
      margin-top: 8px;

      @include layout.respond-to(sp) {
        margin-top: 16px;
      }
    }
  }
}

/* =============================================
working
============================================= */
.working-list {
  display: flex;
  flex-wrap: wrap;

  @include layout.respond-to(pc) {
    margin-top: 36px;
    gap: 32px;
  }
  @include layout.respond-to(sp) {
    margin-top: 32px;
    gap: 16px;
  }

  &__item {
    cursor: pointer;

    @include layout.respond-to(pc) {
      width: calc((100% - 32px * 2) / 3);
    }
    @include layout.respond-to(sp) {
      width: calc((100% - 16px) / 2);
    }

    &--image {
      width: 100%;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

/* =============================================
contact
============================================= */
@mixin button {
  display: block;
  font-weight: bold;
  color: common.$color-white;
  border-radius: 3px;
  background-color: common.$color-primary;
  border: 2px solid common.$color-primary;
  cursor: pointer;

  @include layout.respond-to(pc) {
    width: fit-content;
    margin: 48px auto 0;
    padding: 14px 40px 12px;
  }

  @include layout.respond-to(sp) {
    width: 100%;
    padding: 14px 0 12px;
    text-align: center;
  }

  &:hover {
    color: common.$color-primary;
    background-color: common.$color-white;
    border: 2px solid common.$color-primary;
  }

  &:disabled {
    cursor: default;
    color: common.$color-font-disable;
    background-color: common.$color-disable;
    border: 2px solid common.$color-disable;
  }
}

.contact {
  &.section {
    background-color: common.$color-bg-contact;
    .inner {
      padding-top: 56px;
      padding-bottom: 56px;
    }
  }

  .contact-tab {
    width: fit-content;
    margin: 36px auto;
    letter-spacing: -1em;
    &__list {
      display: inline-block;
      padding: 14px 40px 12px;
      border: 1px solid common.$color-primary;
      background-color: common.$color-white;
      color: common.$color-primary;
      font-weight: bold;
      letter-spacing: 0.5rem;

      &.selected {
        color: common.$color-white;
        background-color: common.$color-primary;
      }

      + .contact-tab__list {
        margin-left: 0;
      }
    }
  }

  .contact-form {
    @include layout.respond-to(pc) {
      width: 760px;
      margin: 0 auto;
    }
    @include layout.respond-to(sp) {
      width: 100%;
    }

    &__item {
      border-bottom: 1px solid common.$color-sub;
      position: relative;

      &.last-child {
        border-bottom: none;
      }

      @include layout.respond-to(pc) {
        display: flex;
        justify-content: space-between;
        gap: 0 32px;
        padding: 32px 0;
      }

      @include layout.respond-to(sp) {
        padding: 24px 0;
      }

      &--label {
        font-weight: bold;
        @include layout.respond-to(pc) {
          width: calc(100% - 480px - 32px);
        }
        @include layout.respond-to(sp) {
          display: block;
          width: 100%;
          margin-bottom: 16px;
        }
      }

      &--require {
        font-size: 1.4rem;
        color: common.$color-white;
        background-color: common.$color-font-accent;

        @include layout.respond-to(pc) {
          padding: 4px 16px;
          float: right;
        }

        @include layout.respond-to(sp) {
          padding: 2px 12px;
          margin-left: 40px;
        }
      }

      &--input {
        clear: both;
        padding: 8px 4px;

        @include layout.respond-to(pc) {
          width: 480px;
        }
        @include layout.respond-to(sp) {
          width: 100%;
        }
      }

      &--textarea {
        clear: both;
        padding: 4px;
        @include layout.respond-to(pc) {
          width: 480px;
          height: 148px;
        }
        @include layout.respond-to(sp) {
          width: 100%;
          height: 148px;
        }
      }

      &--text {
        width: 100%;
        display: none;
      }

      &--errorText {
        position: absolute;
        color: common.$color-error;

        @include layout.respond-to(pc) {
          font-size: 1.4rem;
          left: 280px;
          bottom: 8px;
        }
        @include layout.respond-to(sp) {
          font-size: 1.2rem;
          bottom: 0;
        }
      }
    }

    &__button {
      @include button;
    }
  }
}

/* =============================================
contact
============================================= */
.footer {
  background-color: common.$color-bg-header;
  padding: 32px 0;

  .copyright {
    color: common.$color-white;
    text-align: center;

    @include layout.respond-to(pc) {
      font-size: 1.4rem;
    }
    @include layout.respond-to(sp) {
      font-size: 1.2rem;
    }
  }
}

/* =============================================
modal
============================================= */
.hidden {
  display: none;
}

.bg-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.75);
  transition: all 0.5s;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 99;
}

.skill-modal {
  background-color: common.$color-bg;

  @include layout.respond-to(pc) {
    padding: 48px;
  }
  @include layout.respond-to(sp) {
    width: 80vw;
    padding: 24px 16px;
  }

  &-title {
    font-weight: bold;
    @include layout.respond-to(pc) {
      font-size: 2rem;
      margin-bottom: 36px;
    }
    @include layout.respond-to(sp) {
      font-size: 1.6rem;
      margin-bottom: 32px;
    }
  }

  &__proficiency {
    @include layout.respond-to(pc) {
      margin-bottom: 24px;
    }
    @include layout.respond-to(sp) {
      margin-bottom: 20px;
    }

    input[type="checkbox"] {
      appearance: none;

      &:checked {
        + .skill-modal__proficiency--checkbox {
          border: 1px solid common.$color-primary;
          background-color: common.$color-primary;
          color: common.$color-white;
        }
      }
    }

    &--title {
      font-weight: bold;
      margin-bottom: 16px;
    }

    &--wrap {
      display: flex;

      @include layout.respond-to(pc) {
        gap: 24px;
      }
      @include layout.respond-to(sp) {
        gap: 16px;
      }
    }

    &--checkbox {
      display: inline-block;
      text-align: center;
      width: 74px;
      padding: 10px 0;
      border: 1px solid common.$color-font;
      border-radius: 6px;
      background-color: common.$color-white;
    }
  }

  &__duration {
    @include layout.respond-to(pc) {
      margin-bottom: 24px;
    }
    @include layout.respond-to(sp) {
      margin-bottom: 32px;
    }

    &--title {
      font-weight: bold;
      margin-bottom: 16px;
    }

    &--select {
      border: 1px solid common.$color-font;
      border-radius: 3px;
      padding: 8px 12px;

      @include layout.respond-to(pc) {
        width: 360px;
      }
      @include layout.respond-to(sp) {
        width: 100%;
      }
    }
  }

  &__filter {
    &--button {
      @include button;
      @include layout.respond-to(pc) {
        margin: 0 0 0 auto;
      }
    }
  }
}

.working-modal {
  @include layout.respond-to(pc) {
    width: 408px;
  }
  &__working {
    @include layout.respond-to(sp) {
      width: 80vw;
    }
    &--image {
      margin-bottom: 16px;

      @include layout.respond-to(pc) {
        width: 100%;
      }
    }
    &--link {
      display: inline-block;
      text-decoration: none;
      margin-bottom: 8px;
      color: common.$color-link;
    }
    &--text {
      color: common.$color-white;
    }
  }
}

.fa-solid {
  &.js-modal-close {
    position: absolute;
    top: -28px;
    right: 0;
    font-size: 2rem;
    color: common.$color-white;
  }
}
