// ================================
// 幅関係の設定
// ================================
// 全体
$width-base: 1200px;

// 最大幅
$width-max: 1200px;

// 最小幅
$width-min: 300px;

// メインエリアの幅
$width-main: 800px;

// サイドバーの幅
$width-side: 360px;
