// ================================
// 色関係の設定
// ================================
// サイトカラー
$color-base: white;
$color-main: #0062b2;
$color-sub: #def1fa;

// フォントカラー
$color-font: #000;

// リンクカラー
$color-link: #ff8c28;
$color-link_visited: #39f;
$color-link_hover: #cc7020;
$color-link_active: #00f;

// ボーダーカラー
$color-border: #d2d2d2;
