@use "../../styles/foundation/variables" as *;
@use "../../styles/foundation/mixins" as *;

.hero {
  height: 404px;
  background-color: $color-hero-bg;

  &__inner {
    display: flex;
    justify-content: space-between;
    width: 1020px;
    padding-top: 64px;
    margin: 0 auto 44px;
  }

  &__lead {
    display: inline-block;
    font-size: 4rem;
    padding: 40px;
    background-color: #fff;
  }

  &__text {
    font-size: 2.4rem;
    margin-top: 32px;
    padding-left: 40px;
  }
}
