@use "../../../../styles/foundation" as foundation;

.input {
  position: relative;
  display: flex;
  align-items: center;
  gap: 152px;
  margin-bottom: 32px;

  @include foundation.sm {
    flex-direction: column;
    gap: 0;
  }

  & + & {
    margin-top: 24px;
    padding-top: 32px;
    border-top: 1px solid #ccc;

    @include foundation.sm {
      padding-top: 24px;
    }
  }

  &__label {
    width: 132px;
    flex-shrink: 0;

    @include foundation.sm {
      width: 100%;
    }
  }

  &__field {
    flex: 1;
    min-width: 0;
    height: 48px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    padding: 4px 8px;

    @include foundation.sm {
      margin-top: 16px;
      width: 100%;
      padding: 8px;
    }
  }
}

.error {
  @include foundation.form-error;
}
