@use "../../../styles/foundation/" as foundation;

.project {
  flex: 0 0 calc((100% - 24px * 2) / 3);
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  overflow: hidden;

  &__img {
    border-bottom: 1px solid #ccc;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    padding: 12px;
  }
}
