@charset "UTF-8";
/* =============================================
レスポンシブの設定
============================================= */
/* =============================================
box
============================================= */
@media (min-width: 768px) {
  .section {
    margin-top: 72px;
  }
}
@media (max-width: 576px) {
  .section {
    margin-top: 56px;
  }
}

@media (min-width: 768px) {
  .inner {
    width: 1024px;
    margin: 0 auto;
    padding: 0 32px;
  }
}
@media (max-width: 768px) {
  .inner {
    width: 100%;
    padding: 0 24px;
  }
}

/* =============================================
フォント関係の設定
============================================= */
/* =============================================
カラー関係の設定
============================================= */
/* =============================================
common
============================================= */
html {
  font-size: 62.5%;
}

body {
  color: #2c2e36;
  font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", verdana, Sans-Serif;
  background-color: #f3f5f4;
}
@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}
@media (max-width: 576px) {
  body {
    font-size: 1.4rem;
  }
}

.section__label {
  position: relative;
  text-align: center;
}
@media (min-width: 768px) {
  .section__label {
    font-size: 3.2rem;
    padding-bottom: 24px;
  }
}
@media (max-width: 576px) {
  .section__label {
    font-size: 2.4rem;
    padding-bottom: 20px;
  }
}
.section__label--decorative {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-weight: normal;
  color: #8a7144;
}
@media (min-width: 768px) {
  .section__label--decorative {
    font-size: 1.4rem;
  }
}
@media (max-width: 576px) {
  .section__label--decorative {
    font-size: 1.2rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where([hidden]:not([hidden=until-found])) {
  display: none !important;
}

:where(html) {
  -webkit-text-size-adjust: none;
  color-scheme: dark light;
  tab-size: 2;
  scrollbar-gutter: stable;
  interpolate-size: allow-keywords;
  line-height: 1.5;
}

:where(html:has(dialog:modal[open])) {
  overflow: clip;
}

@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
    scroll-behavior: smooth;
  }
}
:where(body) {
  line-height: inherit;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

:where(button) {
  all: unset;
}

:where(input, button, textarea, select) {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
}

:where(textarea) {
  resize: vertical;
  resize: block;
}

:where(button, label, select, summary, [role=button], [role=option]) {
  cursor: pointer;
}

:where(:disabled, label:has(> :disabled, + disabled)) {
  cursor: not-allowed;
}

:where(a) {
  color: inherit;
  text-underline-offset: 0.2ex;
}

:where(ul, ol) {
  list-style: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, picture, svg, video) {
  max-inline-size: 100%;
  block-size: auto;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

:where(h1, h2, h3) {
  line-height: calc(1em + 0.5rem);
  text-wrap: balance;
}

:where(hr) {
  border: none;
  border-block-start: 1px solid;
  color: inherit;
  block-size: 0;
  overflow: visible;
}

:where(dialog, [popover]) {
  border: none;
  background: none;
  color: inherit;
  inset: unset;
  max-width: unset;
  max-height: unset;
  overflow: unset;
}

:where(dialog:not([open], [popover]), [popover]:not(:popover-open)) {
  display: none !important;
}

:where(:focus-visible) {
  outline: 3px solid CanvasText;
  box-shadow: 0 0 0 5px Canvas;
  outline-offset: 1px;
}

:where(:focus-visible, :target) {
  scroll-margin-block: 8vh;
}

:where(.visually-hidden:not(:focus-within, :active)) {
  clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
  user-select: none !important;
}

/* =============================================
header
============================================= */
.header {
  background-color: #2c2e36;
}
@media (min-width: 768px) {
  .header {
    padding: 36px 0;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 28px 0;
  }
}
.header > .inner {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header > .inner {
    align-items: baseline;
    height: 58px;
  }
}
@media (min-width: 768px) {
  .header .header-logo {
    width: 150px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .header .menu-btn-check,
  .header .menu-btn {
    display: none;
  }
}
@media (max-width: 576px) {
  .header .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #2c2e36;
  }
  .header .menu-btn span,
  .header .menu-btn span::before,
  .header .menu-btn span::after {
    position: absolute;
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
  }
  .header .menu-btn span::before {
    bottom: 8px;
  }
  .header .menu-btn span::after {
    top: 8px;
  }
  .header .menu-btn-check {
    display: none;
  }
  .header .menu-btn-check:checked ~ .menu-btn {
    background-color: rgba(255, 255, 255, 0);
  }
  .header .menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
  }
  .header .menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  .header .menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .header .menu-btn-check:checked ~ .nav {
    left: 0;
  }
}
@media (max-width: 576px) {
  .header .nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: rgba(0, 0, 0, 0.75);
    transition: all 0.5s;
  }
}
.header .nav__lists {
  color: #ffffff;
}
@media (min-width: 768px) {
  .header .nav__lists {
    display: flex;
  }
}
@media (max-width: 576px) {
  .header .nav__lists {
    padding: 72px 24px 0;
  }
  .header .nav__lists--item {
    position: relative;
    border-bottom: solid 1px #ffffff;
  }
  .header .nav__lists--item::before {
    position: absolute;
    content: "";
    right: 12px;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
    width: 10px;
    height: 10px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
  }
  .header .nav__lists--link {
    padding: 16px 0;
    display: block;
  }
}
@media (min-width: 768px) {
  .header .nav__lists--item + .nav__lists--item {
    margin-left: 48px;
  }
}
.header .nav__lists--item a {
  text-decoration: none;
}
.header .nav__lists--item:hover {
  color: #fdebb0;
}

/* =============================================
main visual
============================================= */
.main-visual__inner--image {
  width: 100%;
}
@media (max-width: 576px) {
  .main-visual .inner {
    padding: 0;
  }
}

/* =============================================
role
============================================= */
@media (max-width: 576px) {
  .role-items-wrap {
    position: relative;
    width: 239px;
    margin: 0 auto;
    overflow: hidden;
  }
}

.role-items {
  display: flex;
}
@media (min-width: 768px) {
  .role-items {
    margin-top: 48px;
    gap: 0 24px;
  }
}
@media (max-width: 576px) {
  .role-items {
    margin-top: 36px;
    transition: all 0.3s;
    width: 100%;
    margin: 0 auto;
    transition: all 0.3s;
  }
}
@media (min-width: 768px) {
  .role-items__box {
    width: calc((100% - 48px) / 3);
  }
}
@media (max-width: 576px) {
  .role-items__box {
    min-width: 239px;
  }
}
.role-items__box--label {
  text-align: center;
  font-weight: bold;
}
@media (min-width: 768px) {
  .role-items__box--label {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  .role-items__box--label {
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  .role-items__box--image {
    width: 173px;
    height: 173px;
  }
}
@media (max-width: 576px) {
  .role-items__box--image {
    width: 173px;
    height: 173px;
  }
}
.role-items__box--image-wrap {
  width: fit-content;
  margin: 16px auto 0;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .role-items__box--image-wrap {
    padding: 32px;
  }
}
@media (max-width: 576px) {
  .role-items__box--image-wrap {
    padding: 24px;
  }
}
.role-items__box--image-wrap.role-corder {
  background-color: #ddaa88;
}
.role-items__box--image-wrap.role-designer {
  background-color: #e4d080;
}
.role-items__box--image-wrap.role-director {
  background-color: #9ab5c2;
}
.role-items__box--text {
  margin-top: 16px;
}

@media (min-width: 768px) {
  .prev,
  .next,
  .slide__indicator {
    display: none;
  }
}
@media (max-width: 576px) {
  .next {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #ddaf61;
    border-right: solid 3px #ddaf61;
    right: 10px;
    transform: rotate(45deg) translateY(-50%);
  }
  .prev {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #ddaf61;
    border-right: solid 3px #ddaf61;
    left: 10px;
    transform: rotate(-135deg) translateY(-50%);
    margin-top: -8px;
  }
  .slide-area {
    position: relative;
  }
  .slide__indicator {
    width: 100%;
    display: flex;
    column-gap: 18px;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
  }
  .slide__indicator--list {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    list-style: none;
    background-color: #d2d2d2;
    cursor: pointer;
  }
  .slide__indicator--list.currentSlide {
    background-color: #ddaf61;
  }
}
/* =============================================
available skill
============================================= */
.skill-filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .skill-filter {
    margin-top: 48px;
  }
}
@media (max-width: 576px) {
  .skill-filter {
    margin-top: 36px;
  }
}
@media (max-width: 576px) {
  .skill-filter__status {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 24px;
    width: calc(100% - 40px);
  }
}
.skill-filter__status--item {
  padding: 6px 24px 4px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 2rem;
}
.skill-filter__status--item.skillful {
  background-color: #983940;
  color: #ffffff;
}
.skill-filter__status--item.usual {
  border: 1px solid #983940;
  color: #983940;
  background-color: #ffffff;
}
.skill-filter__status--item.duration, .skill-filter__status--item.studying {
  border: 1px solid #2c2e36;
  color: #2c2e36;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .skill-filter__status--item + .skill-filter__status--item {
    margin-left: 20px;
  }
}
.skill-filter__status--ico.fa-filter {
  cursor: pointer;
  font-size: 4rem;
  color: #2c2e36;
}
.skill-filter__status--ico.fa-filter:hover {
  color: #8a7144;
}

.skills-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}
@media (min-width: 768px) {
  .skills-wrap {
    gap: 24px;
  }
}
@media (max-width: 576px) {
  .skills-wrap {
    gap: 16px;
  }
}

@media (min-width: 768px) {
  .skill__list {
    width: calc((100% - 72px) / 4);
  }
}
@media (max-width: 576px) {
  .skill__list {
    width: calc((100% - 16px) / 2);
  }
}
.skill__list--name {
  font-weight: bold;
}
@media (min-width: 768px) {
  .skill__list--image {
    width: 176px;
    height: 176px;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .skill__list--image {
    width: 100%;
  }
}
.skill__list--name {
  text-align: center;
}
@media (min-width: 768px) {
  .skill__list--name {
    margin: 24px 0 16px;
  }
}
@media (max-width: 576px) {
  .skill__list--name {
    margin: 16px 0;
  }
}
.skill__list--status {
  padding: 6px 24px 4px;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 16px;
}
.skill__list--status.skillful {
  background-color: #983940;
  color: #ffffff;
}
.skill__list--status.usual {
  border: 1px solid #983940;
  color: #983940;
  background-color: #ffffff;
}
.skill__list--status.duration, .skill__list--status.studying {
  border: 1px solid #2c2e36;
  color: #2c2e36;
  background-color: #ffffff;
}
.skill__list--duration {
  font-weight: bold;
  margin-top: 8px;
}
@media (max-width: 576px) {
  .skill__list--duration {
    margin-top: 16px;
  }
}

/* =============================================
working
============================================= */
.working-list {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .working-list {
    margin-top: 36px;
    gap: 32px;
  }
}
@media (max-width: 576px) {
  .working-list {
    margin-top: 32px;
    gap: 16px;
  }
}
.working-list__item {
  cursor: pointer;
}
@media (min-width: 768px) {
  .working-list__item {
    width: calc((100% - 64px) / 3);
  }
}
@media (max-width: 576px) {
  .working-list__item {
    width: calc((100% - 16px) / 2);
  }
}
.working-list__item--image {
  width: 100%;
}
.working-list__item:hover {
  opacity: 0.7;
}

/* =============================================
contact
============================================= */
.contact.section {
  background-color: #fdebb0;
}
.contact.section .inner {
  padding-top: 56px;
  padding-bottom: 56px;
}
.contact .contact-tab {
  width: fit-content;
  margin: 36px auto;
  letter-spacing: -1em;
}
.contact .contact-tab__list {
  display: inline-block;
  padding: 14px 40px 12px;
  border: 1px solid #8a7144;
  background-color: #ffffff;
  color: #8a7144;
  font-weight: bold;
  letter-spacing: 0.5rem;
}
.contact .contact-tab__list.selected {
  color: #ffffff;
  background-color: #8a7144;
}
.contact .contact-tab__list + .contact-tab__list {
  margin-left: 0;
}
@media (min-width: 768px) {
  .contact .contact-form {
    width: 760px;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .contact .contact-form {
    width: 100%;
  }
}
.contact .contact-form__item {
  border-bottom: 1px solid #ddaf61;
}
.contact .contact-form__item.last-child {
  border-bottom: none;
}
@media (min-width: 768px) {
  .contact .contact-form__item {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    padding: 32px 0;
  }
}
@media (max-width: 576px) {
  .contact .contact-form__item {
    padding: 24px 0;
  }
}
.contact .contact-form__item--label {
  font-weight: bold;
}
@media (min-width: 768px) {
  .contact .contact-form__item--label {
    width: calc(100% - 480px - 32px);
  }
}
@media (max-width: 576px) {
  .contact .contact-form__item--label {
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }
}
.contact .contact-form__item--require {
  font-size: 1.4rem;
  color: #ffffff;
  background-color: #983940;
}
@media (min-width: 768px) {
  .contact .contact-form__item--require {
    padding: 4px 16px;
    float: right;
  }
}
@media (max-width: 576px) {
  .contact .contact-form__item--require {
    padding: 2px 12px;
    margin-left: 40px;
  }
}
.contact .contact-form__item--input {
  clear: both;
  padding: 8px 4px;
}
@media (min-width: 768px) {
  .contact .contact-form__item--input {
    width: 480px;
  }
}
@media (max-width: 576px) {
  .contact .contact-form__item--input {
    width: 100%;
  }
}
.contact .contact-form__item--textarea {
  clear: both;
  padding: 4px;
}
@media (min-width: 768px) {
  .contact .contact-form__item--textarea {
    width: 480px;
    height: 148px;
  }
}
@media (max-width: 576px) {
  .contact .contact-form__item--textarea {
    width: 100%;
    height: 148px;
  }
}
.contact .contact-form__item--text {
  width: 100%;
  display: none;
}
.contact .contact-form__button {
  display: block;
  font-weight: bold;
  color: #ffffff;
  border-radius: 3px;
  background-color: #8a7144;
  border: 2px solid #8a7144;
  cursor: pointer;
}
@media (min-width: 768px) {
  .contact .contact-form__button {
    width: fit-content;
    margin: 48px auto 0;
    padding: 14px 40px 12px;
  }
}
@media (max-width: 576px) {
  .contact .contact-form__button {
    width: 100%;
    padding: 14px 0 12px;
    text-align: center;
  }
}
.contact .contact-form__button:hover {
  color: #8a7144;
  background-color: #ffffff;
  border: 2px solid #8a7144;
}

/* =============================================
contact
============================================= */
.footer {
  background-color: #2c2e36;
  padding: 32px 0;
}
.footer .copyright {
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .footer .copyright {
    font-size: 1.4rem;
  }
}
@media (max-width: 576px) {
  .footer .copyright {
    font-size: 1.2rem;
  }
}

/* =============================================
modal
============================================= */
.bg-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.75);
  transition: all 0.5s;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 99;
}

.skill-modal {
  background-color: #f3f5f4;
}
@media (min-width: 768px) {
  .skill-modal {
    padding: 48px;
  }
}
@media (max-width: 576px) {
  .skill-modal {
    width: 80vw;
    padding: 24px 16px;
  }
}
.skill-modal-title {
  font-weight: bold;
}
@media (min-width: 768px) {
  .skill-modal-title {
    font-size: 2rem;
    margin-bottom: 36px;
  }
}
@media (max-width: 576px) {
  .skill-modal-title {
    font-size: 1.6rem;
    margin-bottom: 32px;
  }
}
@media (min-width: 768px) {
  .skill-modal__proficiency {
    margin-bottom: 24px;
  }
}
@media (max-width: 576px) {
  .skill-modal__proficiency {
    margin-bottom: 20px;
  }
}
.skill-modal__proficiency input[type=checkbox] {
  appearance: none;
}
.skill-modal__proficiency input[type=checkbox]:checked + .skill-modal__proficiency--checkbox {
  border: 1px solid #8a7144;
  background-color: #8a7144;
  color: #ffffff;
}
.skill-modal__proficiency--title {
  font-weight: bold;
  margin-bottom: 16px;
}
.skill-modal__proficiency--wrap {
  display: flex;
}
@media (min-width: 768px) {
  .skill-modal__proficiency--wrap {
    gap: 24px;
  }
}
@media (max-width: 576px) {
  .skill-modal__proficiency--wrap {
    gap: 16px;
  }
}
.skill-modal__proficiency--checkbox {
  display: inline-block;
  text-align: center;
  width: 74px;
  padding: 10px 0;
  border: 1px solid #2c2e36;
  border-radius: 6px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .skill-modal__duration {
    margin-bottom: 24px;
  }
}
@media (max-width: 576px) {
  .skill-modal__duration {
    margin-bottom: 32px;
  }
}
.skill-modal__duration--title {
  font-weight: bold;
  margin-bottom: 16px;
}
.skill-modal__duration--select {
  border: 1px solid #2c2e36;
  border-radius: 3px;
  padding: 8px 12px;
}
@media (min-width: 768px) {
  .skill-modal__duration--select {
    width: 360px;
  }
}
@media (max-width: 576px) {
  .skill-modal__duration--select {
    width: 100%;
  }
}
.skill-modal__filter--button {
  display: block;
  font-weight: bold;
  color: #ffffff;
  border-radius: 3px;
  background-color: #8a7144;
  border: 2px solid #8a7144;
  cursor: pointer;
}
@media (min-width: 768px) {
  .skill-modal__filter--button {
    width: fit-content;
    margin: 48px auto 0;
    padding: 14px 40px 12px;
  }
}
@media (max-width: 576px) {
  .skill-modal__filter--button {
    width: 100%;
    padding: 14px 0 12px;
    text-align: center;
  }
}
.skill-modal__filter--button:hover {
  color: #8a7144;
  background-color: #ffffff;
  border: 2px solid #8a7144;
}
@media (min-width: 768px) {
  .skill-modal__filter--button {
    margin: 0 0 0 auto;
  }
}
.skill-modal .fa-solid {
  position: absolute;
  top: -28px;
  right: 0;
  font-size: 2rem;
  color: #ffffff;
}