@use "../styles/foundation/reset" as *;

$color-text: #111111;

html {
  font-size: 10px !important;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.7;
  letter-spacing: 0.13em;
  background-color: #ffffff;
  color: $color-text;
  font-family: var(--font-zen-maru), sans-serif;
  //   @extend .noto;
}

// .sp {
//   display: none;
//   @include sp {
//     display: block;
//   }
// }

// .pc {
//   display: block;
//   @include sp {
//     display: none;
//   }
// }

// .section {
//   width: 100%;
//   //   max-width: $page-width;
//   padding-left: 1.6rem;
//   padding-right: 1.6rem;
//   margin: 0 auto;
// }
