@use "../../../styles/foundation" as foundation;

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: foundation.$section-width-lg;
  margin: 24px auto;

  &__logo {
    width: 186px;
    height: 46px;
  }
}

.navigation {
  &__list {
    display: inline-block;

    & + & {
      margin-left: 52px;
    }
  }
}
