@use "../../../styles/foundation" as foundation;

.about {
  display: flex;
  gap: 56px;
  padding: 0 52px;

  &__inner {
    width: foundation.$section-width-lg;
    margin: foundation.$title-space-pc auto;
  }

  &__img {
    width: 309px;
  }

  .about-text {
    width: 518px;

    &__title {
      font-size: 2.4rem;
      font-weight: bold;
    }

    &__description {
      margin-top: 32px;
      padding-bottom: 40px;
      background: url(/images/about/about-desc-bg.png) no-repeat;
      background-position: bottom 0 right 0;
    }
  }
}

.about-conscious-wrap {
  display: flex;
  gap: 0 56px;
  margin-top: 56px;
}
