@use "../../../styles/foundation" as foundation;

.footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__copyright {
    font-size: foundation.$font-size-small;
  }
}
