@use "../../../styles/foundation/" as foundation;

.about-conscious {
  width: calc((100% - 56px * 3) / 4);

  @include foundation.sm {
    width: calc((100% - 12px) / 2);
  }

  &__img {
    position: relative;
    width: auto;
    height: 124px;
  }

  &__title {
    margin-top: 12px;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
  }
  &__description {
    margin-top: 16px;

    @include foundation.sm {
      margin-top: 8px;
    }
  }
}
